In [1]:
#importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

In [2]:
Col_names= ['Car_Name','Year','Selling_Price','Present_Price','Kms_Driven','Fuel_Type','Seller_Type','Transmission','Owner']
#Read Dataset
df=pd.read_csv("car data.csv",header=None,names=Col_names)

In [3]:
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
1,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
2,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
3,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
4,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0

In [4]:
df.tail()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
297,city,2016,9.5,11.6,33988,Diesel,Dealer,Manual,0
298,brio,2015,4,5.9,60000,Petrol,Dealer,Manual,0
299,city,2009,3.35,11,87934,Petrol,Dealer,Manual,0
300,city,2017,11.5,12.5,9000,Diesel,Dealer,Manual,0
301,brio,2016,5.3,5.9,5464,Petrol,Dealer,Manual,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 302 entries, 0 to 301
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       302 non-null    object
 1   Year           302 non-null    object
 2   Selling_Price  302 non-null    object
 3   Present_Price  302 non-null    object
 4   Kms_Driven     302 non-null    object
 5   Fuel_Type      302 non-null    object
 6   Seller_Type    302 non-null    object
 7   Transmission   302 non-null    object
 8   Owner          302 non-null    object
dtypes: object(9)
memory usage: 21.4+ KB

In [6]:
df.describe()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
count,302,302,302,302,302,302,302,302,302
unique,99,17,157,148,207,4,3,3,4
top,city,2015,0.45,9.4,45000,Petrol,Dealer,Manual,0
freq,26,61,8,15,9,239,195,261,290

In [7]:
df.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [8]:
df.nunique()

Car_Name          99
Year              17
Selling_Price    157
Present_Price    148
Kms_Driven       207
Fuel_Type          4
Seller_Type        3
Transmission       3
Owner              4
dtype: int64

In [20]:
#Label encoding 
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()
df['Car_Name']=lb.fit_transform(df['Car_Name'])
df['Year']=lb.fit_transform(df['Year'])
df['Kms_Driven']=lb.fit_transform(df['Kms_Driven'])
df['Fuel_Type']=lb.fit_transform(df['Fuel_Type'])
df['Seller_Type']=lb.fit_transform(df['Seller_Type'])
df['Transmission']=lb.fit_transform(df['Transmission'])
df['Owner']=lb.fit_transform(df['Owner'])
df['Present_Price']=lb.fit_transform(df['Present_Price'])

In [21]:
#defining X and Y
feature_cols = ['Car_Name','Year','Present_Price','Kms_Driven','Fuel_Type','Seller_Type','Transmission','Owner']
Extraction_cols=['Selling_Price']
X = df[feature_cols]# Features
y = df[Extraction_cols] # Target variable

In [22]:
#Importing Model
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=0)

In [24]:
# Create Decision Tree classifer object
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

In [25]:
from sklearn.metrics import accuracy_score
accuracy=accuracy_score(y_test,y_pred)
print('Decision Tree Model accuracy score: {0:0.4f}'.format(accuracy_score(y_test,y_pred)))

Decision Tree Model accuracy score: 0.0744

In [26]:
Classifier=DecisionTreeClassifier(criterion='entropy',random_state=0)

In [27]:
Classifier.fit(X_train,y_train)

DecisionTreeClassifier(criterion='entropy', random_state=0)

In [28]:
y_pred=Classifier.predict(X_test)

In [ ]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
plt.figure(figsize=(40,40))
sb.heatmap(cm,annot=True,fmt=".0f",linewidths=0.5,square=True,cmap='Blues');
plt.ylabel('Actual label');
plt.xlabel('Predicted label');
all_sample_title='Confusion Matrix - score:' +str(accuracy_score(y_test,y_pred))
plt.title(all_sample_title,size=15);
plt.show()

In [30]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

         0.1       0.00      0.00      0.00         1
        0.16       0.00      0.00      0.00         1
         0.2       0.00      0.00      0.00         1
        0.25       0.00      0.00      0.00         1
        0.27       0.00      0.00      0.00         1
         0.3       0.00      0.00      0.00         2
        0.35       0.00      0.00      0.00         0
        0.38       0.00      0.00      0.00         2
         0.4       0.50      1.00      0.67         1
        0.42       0.00      0.00      0.00         1
        0.45       0.33      0.50      0.40         4
        0.48       0.00      0.00      0.00         3
         0.5       0.00      0.00      0.00         3
        0.51       0.00      0.00      0.00         0
        0.52       0.00      0.00      0.00         0
         0.6       0.17      0.25      0.20         4
        0.65       0.00      0.00      0.00         3
        0.72       0.00      0.00      0.00         1
        0.75       0.00      0.00      0.00         1
        0.78       0.00      0.00      0.00         0
         0.8       0.00      0.00      0.00         1
         0.9       0.00      0.00      0.00         1
        0.95       0.00      0.00      0.00         0
           1       0.00      0.00      0.00         1
        1.05       0.33      1.00      0.50         1
         1.1       0.00      0.00      0.00         1
        1.11       0.00      0.00      0.00         1
        1.15       0.00      0.00      0.00         0
         1.2       0.00      0.00      0.00         1
        1.25       0.00      0.00      0.00         2
        1.35       0.00      0.00      0.00         1
        1.65       0.00      0.00      0.00         1
        1.75       0.00      0.00      0.00         1
       10.11       0.00      0.00      0.00         1
        10.9       0.00      0.00      0.00         0
       11.25       0.00      0.00      0.00         2
       11.45       0.00      0.00      0.00         1
        11.5       0.00      0.00      0.00         0
       11.75       0.00      0.00      0.00         1
       14.73       0.00      0.00      0.00         1
          16       0.00      0.00      0.00         1
       18.75       0.00      0.00      0.00         1
       19.99       0.00      0.00      0.00         0
           2       0.00      0.00      0.00         1
        2.25       0.00      0.00      0.00         2
         2.5       0.00      0.00      0.00         0
        2.55       0.00      0.00      0.00         1
        2.65       0.00      0.00      0.00         2
         2.7       0.00      0.00      0.00         1
        2.75       0.00      0.00      0.00         2
         2.9       0.00      0.00      0.00         2
        2.95       0.00      0.00      0.00         0
       20.75       0.00      0.00      0.00         1
          23       0.50      1.00      0.67         2
        23.5       0.00      0.00      0.00         1
           3       0.00      0.00      0.00         2
         3.1       0.00      0.00      0.00         0
        3.15       0.00      0.00      0.00         1
        3.25       0.00      0.00      0.00         0
        3.35       0.00      0.00      0.00         0
        3.45       0.00      0.00      0.00         1
         3.5       0.00      0.00      0.00         0
        3.51       0.00      0.00      0.00         0
         3.6       0.00      0.00      0.00         1
        3.75       0.00      0.00      0.00         2
         3.8       0.00      0.00      0.00         0
         3.9       0.00      0.00      0.00         1
        3.95       0.00      0.00      0.00         2
          33       0.00      0.00      0.00         0
          35       0.00      0.00      0.00         0
           4       0.00      0.00      0.00         1
         4.1       0.00      0.00      0.00         1
        4.15       0.00      0.00      0.00         1
         4.4       0.00      0.00      0.00         0
         4.5       0.08      1.00      0.15         1
         4.6       0.00      0.00      0.00         1
        4.65       0.00      0.00      0.00         1
        4.75       0.00      0.00      0.00         2
        4.85       0.00      0.00      0.00         1
         4.9       0.00      0.00      0.00         1
        4.95       0.00      0.00      0.00         1
           5       0.00      0.00      0.00         1
        5.11       0.00      0.00      0.00         1
         5.2       0.00      0.00      0.00         1
        5.25       0.33      0.33      0.33         3
         5.3       0.00      0.00      0.00         2
        5.35       0.00      0.00      0.00         1
         5.4       0.00      0.00      0.00         2
         5.5       0.25      1.00      0.40         1
        5.65       0.00      0.00      0.00         1
        5.75       0.00      0.00      0.00         1
        5.95       0.00      0.00      0.00         2
           6       0.00      0.00      0.00         2
         6.1       0.00      0.00      0.00         0
        6.15       0.00      0.00      0.00         0
        6.25       0.00      0.00      0.00         0
        6.45       0.00      0.00      0.00         1
         6.5       0.00      0.00      0.00         1
         6.6       0.00      0.00      0.00         1
         6.7       0.00      0.00      0.00         1
        6.75       0.00      0.00      0.00         1
        6.85       0.00      0.00      0.00         1
        7.05       0.00      0.00      0.00         0
         7.2       0.00      0.00      0.00         1
        7.25       0.00      0.00      0.00         0
         7.4       0.00      0.00      0.00         1
        7.45       0.00      0.00      0.00         1
         7.5       0.00      0.00      0.00         1
        7.75       1.00      1.00      1.00         1
         7.9       0.00      0.00      0.00         1
        8.35       0.00      0.00      0.00         0
         8.4       0.00      0.00      0.00         0
         8.5       0.00      0.00      0.00         0
        8.55       0.00      0.00      0.00         1
        8.99       0.00      0.00      0.00         1
         9.1       0.00      0.00      0.00         1
        9.15       0.00      0.00      0.00         1
        9.25       0.00      0.00      0.00         1

    accuracy                           0.09       121
   macro avg       0.03      0.06      0.04       121
weighted avg       0.05      0.09      0.06       121

C:\Users\kanga\anaconda3\envs\data\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\kanga\anaconda3\envs\data\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\kanga\anaconda3\envs\data\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\kanga\anaconda3\envs\data\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\kanga\anaconda3\envs\data\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\kanga\anaconda3\envs\data\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [31]:
X_test[0:1]

,Car_Name,Year,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
225,95,10,139,99,3,0,0,0

In [32]:
result=Classifier.predict(X_test[0:1])
result

array(['4.5'], dtype=object)